<template>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <button class="btn btn-primary" @click="$router.push('/bank')">
                            Back
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <bank-form :formRecord="form"></bank-form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['id'],

    data: () => ({
        form: new Form({
            id: '',
            bank_name: '',
            logo: '',
            contact_email: ''
        })
    }),

    methods: {
        getData() {
            this.$Progress.start()
            axios.get(`/banks/${this.id}`).then(response => {
                this.$Progress.finish()
                this.form.fill(response.data.data)
                this.form.logo = ''
            }).catch(error => {
                this.$Progress.fail()
                Swal.fire(
                    'Error',
                    'Data Not Found',
                    'error',
                )
                this.$router.push('/banks')
            })
        }
    },

    mounted() {
        this.$store.commit('setIsEditing', true)
        this.getData()
    }
}
</script>