<template>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="card-tools">
                        <router-link to="/bank/create" class="btn btn-primary">
                            <i class="fa fa-plus"></i>
                            Add New
                        </router-link>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered" v-if="$store.state.banks.length > 0">
                        <thead>
                            <th>Bank Name</th>
                            <th>Logo</th>
                            <th>Bank Email</th>
                            <th>Created At</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr v-for="bank in $store.state.banks" :key="bank.id">
                                <td>{{ bank.bank_name }}</td>
                                <td>
                                    <img :src="`http://localhost:8000/${bank.logo}`" :alt="`${bank.name} logo`" />
                                </td>
                                <td>{{ bank.contact_email }}</td>
                                <td>{{ bank.created_at }}</td>
                                <td>
                                    <router-link class="btn btn-warning text-white" :to="`/bank/edit/${bank.id}`">
                                        <i class="fa fa-edit"></i>
                                    </router-link>
                                    <button class="btn btn-danger text-white" @click="deleteData(bank.id)">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="container" v-else>
                        <div class="row justify-content-center">
                            <div class="col-6">
                                <img src="http://localhost:8000/empty.svg"/>
                            </div>
                            <div class="col-7">
                                <h1 class="font-weight-bold text-center mt-5">Empty Data</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    methods: {
        deleteData(id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.$Progress.start()
                        this.$store.dispatch('deleteData', {
                            deleteUrl: `/banks/${id}`,
                            fetch: {
                                url: '/banks',
                                mut: 'setBanks'
                            }
                        }).then(() => {
                            this.$Progress.finish()
                        }).catch(() => {
                            this.$Progress.fail()
                        })
                    }
                })
        },

        getData() {
            this.$store.dispatch('fetchData', {
                url: '/banks',
                mut: 'setBanks'
            }).then(() => {
                this.$Progress.finish()
            }).catch(() => {
                this.$Progress.fail()
            })
        }
    },

    mounted() {
        this.$Progress.start()
        this.getData()
    }
}
</script>