<template>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <button class="btn btn-primary" @click="$router.push('/bank')">
                            Back
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <bank-form :formRecord="form"></bank-form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data: () => ({
        form: new Form({
            id: '',
            bank_name: '',
            logo: 'img.jpg',
            contact_email: ''
        })
    }),

    mounted() {
        this.$store.commit('setIsEditing', false)
    }
}
</script>