// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// admin-lte
@import '~admin-lte/dist/css/adminlte.css';

// fontawesome
@import '~@fortawesome/fontawesome-free/css/fontawesome.css';
@import '~@fortawesome/fontawesome-free/css/solid.css';
@import '~@fortawesome/fontawesome-free/css/brands.css';

.router-link-exact-active:hover {
    background-color: #6f42c1 !important;
    color: #fff !important;
}
.router-link-exact-active {
    background-color: #6f42c1;
    color: #fff !important;
}
