<template>
    <div>
        <Navbar />
        <Sidebar />
        <div class="content-wrapper">
            <PageHeader />
            <div class="content">
                <div class="container-fluid">
                    <vue-progress-bar></vue-progress-bar>
                    <router-view></router-view>
                </div>
            </div>
        </div>
        <Footer />
    </div>
</template>

<script>
import Navbar from './layouts/Navbar'
import Sidebar from './layouts/Sidebar'
import PageHeader from './layouts/PageHeader'
import Footer from './layouts/Footer'

export default {
    components: {
        Navbar,
        Sidebar,
        PageHeader,
        Footer
    }
}
</script>