<template>
    <aside class="main-sidebar sidebar-light-purple elevation-1">
        <!-- Brand Logo -->
        <router-link to="/" class="brand-link">
            <img :src="`${baseUrl}/icon.png`" alt="AdminLTE Logo" class="brand-image img-circle"
                style="opacity: .8">
            <span class="brand-text font-weight-light">Bank</span>
        </router-link>

        <!-- Sidebar -->
        <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img :src="`${baseUrl}/profile.png`" class="img-circle elevation-0" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">Taufik Rahadi</a>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                    with font-awesome or any other icon font library -->
                    <li class="nav-item">
                        <router-link to="/" class="nav-link">
                            <i class="nav-icon fa fa-tachometer-alt"></i>
                            <p class="text-capitalize">
                                Dashboard
                            </p>
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link to="/bank/index" class="nav-link">
                            <i class="nav-icon fa fa-money-check-alt"></i>
                            <p class="text-capitalize">
                                Bank
                            </p>
                        </router-link>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>
</template>

<script>
import { routes } from '../../router'

export default {
    data: () => ({
        routes: routes,
        baseUrl: 'http://localhost:8000'
    })
}
</script>