<template>
    <form @submit.prevent="formSubmit()">
        <div class="form-group">
            <label for="">Bank Name</label>
            <input type="text" class="form-control" v-model="formRecord.bank_name" :class="{ 'is-invalid': formRecord.errors.has('bank_name') }">
            <has-error :form="formRecord" field="bank_name"></has-error>
        </div>
        <div class="form-group">
            <label for="">Logo</label>
            <input type="file" class="form-control" @change="updateImage" :class="{ 'is-invalid': formRecord.errors.has('logo') }">
            <has-error :form="formRecord" field="logo"></has-error>
        </div>
        <div class="form-group">
            <label for="">Bank Email</label>
            <input type="email" class="form-control" v-model="formRecord.contact_email" :class="{ 'is-invalid': formRecord.errors.has('contact_email') }">
            <has-error :form="formRecord" field="contact_email"></has-error>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</template>

<script>
export default {
    props: ['formRecord'],

    methods: {
        updateImage(e) {
            let file = e.target.files[0]
            let reader = new FileReader()
            reader.onloadend = (file) => {
                this.formRecord.logo = reader.result
            }
            reader.readAsDataURL(file)
        },
        
        formSubmit() {
            this.$Progress.start()
            if(!this.$store.state.isEditing) {
                this.$store.dispatch('postData', {
                    url: '/banks',
                    form: this.formRecord,
                    fetch: {
                        url: '/banks',
                        mut: 'setBanks',
                    }
                }).then(() => {
                    this.$Progress.finish()
                    this.$router.push('/bank')
                }).catch(() => {
                    this.$Progress.fail()
                })
            } else {
                this.$store.dispatch('updateData', {
                    url: '/banks/' + this.formRecord.id,
                    form: this.formRecord,
                    fetch: {
                        url: '/banks',
                        mut: 'setBanks'
                    }
                }).then(() => {
                    this.$Progress.finish()
                    this.$router.push('/bank')
                }).catch(() => {
                    this.$Progress.fail()
                })
            }
        }
    }
}
</script>